@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@300&family=Dosis:wght@200&family=Poppins&family=Recursive:wght@300;400&display=swap');

// #region Color variables
// font variables
$sans-serif: 'Poppins', sans-serif;
$button-font: 'Recursive', sans-serif;
$serif: 'Aleo', serif;

// color variables
$moonstone: #69a2b0;
$champagne-pink: #fceade;
$isabelline: #faf4f0;
$coral: #ff8a5b;
$bright-pink-crayola: #ea526f;
$van-dyke: #42383d;
$raisin-black: #2c2629;

// explicitly light/dark colors
$dark-text: #121212;
$light-text: #f4f4f4;

// light mode styles
$primary-bg-lightmode: $isabelline;
$content-bg-lightmode: $champagne-pink;
$emphasis-lightmode: $moonstone;
$primary-text-lightmode: $dark-text;
$button-text-lightmode: $light-text;
$shadow-subtle-lightmode: 0 0 6px rgba(40, 40, 40, 0.2);
$shadow-prominent-lightmode: 0 0 12px rgba(0, 0, 0, 0.3);
$border-shadow-lightmode: 0 0 1.2px rgb(71, 71, 71);

// dark mode styles
$primary-bg-darkmode: $raisin-black;
$content-bg-darkmode: $van-dyke;
$emphasis-darkmode: $coral;
$primary-text-darkmode: $light-text;
$button-text-darkmode: $dark-text;
$shadow-subtle-darkmode: 0 0 6px rgba(70, 70, 70, 0.2);
$shadow-prominent-darkmode: 0 0 12px rgba(120, 120, 120, 0.3);
$border-shadow-darkmode: 0 0 1px rgb(163, 163, 163);

// #endregion

// #region Heading tags
h1,
h2,
h3,
h4,
h5 {
  font-family: $sans-serif;
  max-width: 80vw;
  box-sizing: border-box;
}
h1 {
  font-size: 2.5rem;
  line-height: 1.2;
}

h2 {
  font-size: 2rem;
  line-height: 1.3;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.4;
}

h4 {
  font-size: 1.25rem;
  line-height: 1.5;
}

h5 {
  font-size: 1.125rem;
  line-height: 1.6;
}

// #endregion

body {
  padding: 0;
  margin: 0;
  font-family: $serif;
}

button {
  padding: 0.6rem 1.3rem;
  border-radius: 0.5rem;
  border: 0;
  font-family: $button-font;
  font-weight: 300;
  text-transform: lowercase;
  letter-spacing: 0.1rem;
}

.dark-text {
  color: $dark-text;
}

.light-text {
  color: $light-text;
}

.outer-container {
  padding: 0 3vw;

  .inner-container {
    .content {
      display: grid;
      grid-template-columns: repeat(auto-fit, 6vw);
      gap: 1vw;
      width: 90vw;
      padding: 2.5vw;
      height: auto;
      border-radius: 2.5rem;

      .circle-container {
        position: relative;

        .color-circle {
          width: 100%;
          padding: 50% 0;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;

          .color-details-container {
            position: absolute;
            width: 100%;
          }

          .color-name {
            display: none;
            user-select: none;
          }

          &:hover .color-name {
            font-family: $sans-serif;
            line-height: 0.9;
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            font-size: 1rem;
            width: 100%;
          }

          .selected-color-details {
            display: none;
          }
        }

        .active-color-circle {
          position: absolute;
          z-index: 9999;
          width: 9vw;
          padding-bottom: 9vw;
          top: -1.5vw; // center on existing circle (width - non-selected circle width / 2)
          left: -1.5vw;
          border-radius: 50%;

          .color-details-container {
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: top;
            align-items: center;
            padding-top: 25%;
            box-sizing: border-box;
            border-radius: 50%;
            overflow: hidden;

            .color-name {
              font-family: $sans-serif;
              line-height: 0.9;
              width: 70%;
              text-align: center;
              font-size: 90%;
            }

            .selected-color-details {
              width: 80%;
              text-align: center;
              font-size: 0.8rem;
              line-height: 1;
              margin-top: 0.4rem;
            }
          }
        }
      }
    }

    .content-overlay {
      background-color: $content-bg-lightmode;
      z-index: 9999;
    }
  }
}

// #region Color media queries
@media (prefers-color-scheme: dark) {
  body {
    background-color: $primary-bg-darkmode;
    color: $primary-text-darkmode;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    text-shadow: $shadow-subtle-darkmode;
  }

  button {
    background-color: $emphasis-darkmode;
    color: $button-text-darkmode;
    box-shadow: $shadow-subtle-darkmode;
  }

  .outer-container {
    .inner-container {
      .content {
        background-color: $content-bg-darkmode;
        box-shadow: $shadow-subtle-darkmode;

        .circle-container {
          .color-circle {
            box-shadow: $border-shadow-darkmode, $shadow-subtle-darkmode;

            &:hover {
              box-shadow: $border-shadow-darkmode, $shadow-prominent-darkmode;
            }
          }

          .active-color-circle {
            box-shadow: $border-shadow-darkmode, $shadow-prominent-darkmode;
          }
        }
      }
    }
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: $primary-bg-lightmode;
    color: $primary-text-lightmode;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    text-shadow: $shadow-subtle-lightmode;
  }

  button {
    background-color: $emphasis-lightmode;
    color: $button-text-lightmode;
    box-shadow: $shadow-subtle-lightmode;
  }

  .outer-container {
    .inner-container {
      .content {
        background-color: $content-bg-lightmode;
        box-shadow: $shadow-subtle-lightmode;

        .circle-container {
          .color-circle {
            box-shadow: $border-shadow-lightmode, $shadow-subtle-lightmode;

            &:hover {
              box-shadow: $border-shadow-lightmode, $shadow-prominent-lightmode;
            }
          }

          .active-color-circle {
            box-shadow: $border-shadow-lightmode, $shadow-prominent-lightmode;
          }
        }
      }
    }
  }
}
// #endregion

// #region Screen size media queries
/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
   1280-1024   - desktop (default grid)
   1024-768    - tablet landscape
   768-480     - tablet 
   480-less    - phone landscape & smaller
--------------------------------------------*/
@media all and (max-width: 1280px) {
  .outer-container {
    .inner-container {
      .content {
        grid-template-columns: repeat(auto-fit, 7.2vw);
      }
    }
  }
}

@media all and (max-width: 1024px) {
  .outer-container {
    .inner-container {
      .content {
        grid-template-columns: repeat(auto-fit, 9.1vw);
      }
    }
  }
}

@media all and (max-width: 768px) {
  .outer-container {
    .inner-container {
      .content {
        grid-template-columns: repeat(auto-fit, 12vw);
      }
    }
  }
}

@media all and (max-width: 480px) {
  .outer-container {
    .inner-container {
      .content {
        grid-template-columns: repeat(auto-fit, 17.2vw);
      }
    }
  }
}

/* Portrait */
@media screen and (orientation: portrait) {
  /* Portrait styles here */
}
/* Landscape */
@media screen and (orientation: landscape) {
  /* Landscape styles here */
}

/* CSS for iPhone, iPad, and Retina Displays */
/* Non-Retina */
@media screen and (-webkit-max-device-pixel-ratio: 1) {
}

/* Retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (-o-min-device-pixel-ratio: 3/2),
  only screen and (min--moz-device-pixel-ratio: 1.5),
  only screen and (min-device-pixel-ratio: 1.5) {
}

/* iPhone Portrait */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
}

/* iPhone Landscape */
@media screen and (max-device-width: 480px) and (orientation: landscape) {
}

/* iPad Portrait */
@media screen and (min-device-width: 481px) and (orientation: portrait) {
}

/* iPad Landscape */
@media screen and (min-device-width: 481px) and (orientation: landscape) {
}

// #endregion
